.seccion{
    width: 450px;
    height: auto;
    padding: 0 40px;

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
}



#formulario{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.seccion label{
    font-size: 14px;
    text-align: left;
}
.seccion select{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.seccion input{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.boton{
    width: 150px;
    font-size: 20px;
    margin: 0 10px;

    background-color: #304244;
    color: #fff1da;
    border-radius: 5px;
    border: 0
}



.aviso{
    width: 60%;
    margin: 0;
    color: #132b2b;
    text-shadow: #FEE3B4 -2px -2px;
}
#ultimoAviso{
   margin-bottom: 60px;
}



.seccion h2{
    width: 100%;
    margin: 0;

    color: #304244;
    background-color: #fff1da;
    box-shadow: #304244 -5px -5px;
}
.datos{
    width: 90%;
    height: auto;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
}



@media (max-width: 840px){
    .aviso{
        width: 90%;
    }
}