#formulario{
    width: 100%;
    height: auto;
    padding: 20px 0 40px 0;
    border-top: 2px solid #304244;
    border-bottom: 2px solid #304244;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formulario input{
    width: 200px;
}
#formulario button{
    width: 90px;
    height: 20px;

    background-color: #304244;
    color: white;
    border-radius: 3px;
    border: 0px;
    font-weight: bold;
    font-size: 14px;
}

#iconoUsuario{
    width: 150px;
}