#contenido{
    padding: 20px 0;
    justify-content: center;
}



.divProducto{
    width: 280px;
    height: 250px;
    margin: 15px 15px;
    padding: 10px;

    border-radius: 5px;
    background-color: #FEE3B4;

    display: flex;
    flex-flow: column nowrap;
}
.divProducto hr{
    width: 60%;
    height: 0;
    margin: 10px 0;

    border: 1px solid #FEE3B4;
    border-top: 1px solid black;
}



.producto{
    height: 55%;
    display: flex;
    flex-flow: row nowrap;
}
.producto picture{
    width: 40%;
}
.producto img
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.producto div{
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.producto div h2{
    margin: 0;
}
.producto div h3{
    margin: 0;
}



.descripcion{
    height: 40%;
    background-color: #fdeccf;
    border-radius: 5px;

    display: flex;
    align-items: center;
}
.descripcion p{
    margin: 0;
}



.lblPrecio{
    margin: 0;
}